* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #fcfcfc;
}
section {
  padding: 0 100px;
  background: url("https://images.unsplash.com/photo-1611221128786-60351ce7f91b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1488&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0.9;
}
.up {
  text-align: center;
  margin: 15px auto;
  font-size: 30px;
  max-width: 1100px;
  position: relative;
}
.up:before {
  content: "";
  display: block;
  width: 420px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}
.up:after {
  content: "";
  display: block;
  width: 420px;
  height: 2px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}
.box {
  position: relative;
  padding: 50px;
  background: transparent;
  justify-content: center;
  transform: translateY(90px);
}
.box h1 {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.box h2 {
  color: white;
  margin: 0 auto;
  padding: 0;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center;
}
.box p {
  color: white;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: large;
  font-family: "Open Sans", sans-serif;
}
.box p a {
  text-decoration: none;
  color: white;
}
.box p:hover a {
  text-decoration: underline;
  color: #460f08;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #460f08;
  font-family: "Libre Baskerville", serif;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#signUp {
  border: 0px;
  font-family: "Libre Baskerville", serif;
  background: transparent;
  color: rgb(255, 246, 246);
  justify-content: space-around;
  font-size: 14px;
  letter-spacing: 3px;
}

.logo {
  color: rgb(255, 246, 246);
  letter-spacing: 3px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(255, 246, 246);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.container {
  width: 1410px;
  height: 440px;
  background: #ccc;
  margin: 20px auto;
  display: flex;
}
.col {
  height: 100%;
  flex: 1;
  color: white;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  transition: 0.6s;
}
.col:nth-child(1) {
  background-color: rgba(133, 48, 47, 0.8);
  opacity: 0.8;
}
.col:nth-child(2) {
  background-color: rgba(130, 84, 77, 0.8);
  opacity: 0.8;
}
.col:nth-child(3) {
  background-color: rgba(129, 140, 150, 0.8);
  opacity: 0.8;
}
.col h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.caption {
  max-width: 490px;
  font-size: 13px;
  margin: 28px 0;
  display: none;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
.caption button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.caption button a {
  text-decoration: none;
  color: white;
}
.caption button:hover a {
  text-decoration: underline;
  color: #460f08;
}
.col img {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.col:hover {
  flex-grow: 2;
}
.col:hover .caption {
  display: block;
}
.col:hover .col h2 {
  text-align: left;
}
footer {
  background: #460f08;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: rgb(255, 246, 246);
}
.footer-content {
  display: flex;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 3px;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #9fc8f0;
}
.footer-bottom {
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
}
.footer-bottom span {
  text-transform: uppercase;
  font-weight: 200;
}
.footer-bottom span a {
  text-decoration: none;
  color: white;
}
.footer-bottom span:hover a {
  text-decoration: underline;
  color: #460f08;
}

@media screen and (max-width: 1100px) {
  .box h1 {
    font-size: 14px;
  }
  .box h2 {
    font-size: 13px;
    margin: 0 0;
    padding: 0;
  }
  button {
    font-size: 8px;
  }
  .nav-links a {
    font-size: 8px;
  }
}
